@model Preparation.WebUI.Models.MedicamentViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование препарата: @Model.Name</h2>

@using (Html.BeginForm("Edit", "Preparation", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Препарат</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            <input type="text" name="Name" class="form-control" data-val="true" data-val-regex="Введите только буквы" data-val-regex-pattern="^[(A-z)\(А-я)\(ё)\(Ё)\s]+$" data-val-required="Пожалуйста, введите название препарата" value="@Model.Name" />
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Anotation)
        </div>
        <div class="editor-field">
            <textarea type="text" name="Anotation" class="form-control" data-val="true" data-val-required="Пожалуйста, введите краткое описание" id="Anotation" rows="2">@Model.Anotation</textarea>
            @Html.ValidationMessageFor(model => model.Anotation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
            <input type="file" name="Image" id="Image" required />
            @Html.ValidationMessageFor(model => model.Image)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActiveSubstance)
        </div>
        <div class="editor-field">
            <input type="text" name="ActiveSubstance" class="form-control" data-val="true" data-val-required="Пожалуйста, введите состав" value="@Model.ActiveSubstance" />
            @Html.ValidationMessageFor(model => model.ActiveSubstance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Producer)
        </div>
        <div class="editor-field">
            <input type="text" name="Producer" class="form-control" data-val="true" data-val-required="Пожалуйста, введите производителя" value="@Model.Producer" />
            @Html.ValidationMessageFor(model => model.Producer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseForm)
        </div>
        <div class="editor-field">
            <input type="text" name="ReleaseForm" class="form-control" data-val="true" data-val-required="Пожалуйста, введите форму выпуска" value="@Model.ReleaseForm" />
            @Html.ValidationMessageFor(model => model.ReleaseForm)
        </div>

        <p>
            <input type="submit" value="Сохранить" style="margin-top: 10px;" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к списку препаратов", "List")
</div>

